.productos-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 70px;
    font-family: sans-serif;
    
}

.productos-lista img {
    width: 170px;
    height: 170px;
    border: solid black 5px;
    justify-content: center;

}

h3 {
    justify-content: center;
    text-align: center;

}

.btn-añadir-al-carrito {
    position: absolute;
    width: 120px;
    height: 35px;
    right: 95px;
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background: #69fa25e6;
    border-radius: 60px ;
    border-color: #69fa25e6;
}


.pedir-whatsapp{
    font-size: 30px;
    position: absolute;
    left: 110px;


}

.icons-pedir-carrito{
    margin-top: 30px;


}


/* tablets */
@media (min-width: 768px) {
.productos-lista img  {
    width: 250px;
    height: 250px;
    margin-top: 30px; }
}

.accesorios-y-seguridad {
    gap: 90px;
}

.btn-añadir-al-carrito {
    right: 250px;
}

.pedir-whatsapp{
    left: 290px;
}

/* desktop */
@media (min-width: 992px) {
    .btn-añadir-al-carrito {
        right: 530px;
    }
    
    .pedir-whatsapp{
        left: 560px;
    }
}
